body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eee;
}

header {
  background-color: green;
  padding: 5px;
  width: 100%;
}

h1 {
  margin-top: 0;
  color: white;
}

table {
  margin: 30px auto;
  background-color: white;
}

td,
tr,
th {
  text-align: center;
  width: 170px;
}

tr {
  height: 50px;
}

.name {
  text-align: left;
}

thead {
  font-size: 16px;
}

img {
  width: 30px;
  border-radius: 10%;
  border: 1px solid black;
}

.selectable {
  color: green;
  text-decoration: underline;
  cursor: pointer;
}
